*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}



html {
    font-family: 'Open Sans', sans-serif;
    background: #ddd;
}

.no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

label {
    font-weight: bold;
}

.big-button {
    width: 100%;
    font-weight: bold;
    line-height: 3em;
    background: #4286f5;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.big-button::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150%;
    aspect-ratio: 1;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 100vw;
    transform: translate(-50%, -50%) scale(0);
}

.big-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms ease-in-out;
}

.small-button {
    position: relative;
    background: none;
    padding: 0.5em;
}

.small-button::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #ccc;
}

.small-button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #4286f5;
    transform: scaleX(0);
}

.small-button:hover::after {
    transform: scaleX(1);
    transition: transform 200ms ease-in-out;
}


.label-and-input {
    margin: 2rem 0;
}

.label-and-input label {
    line-height: 1.5em;
}

.label-and-input textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}

.textbox-with-icon {
    display: grid;
    grid-template-columns: 2.5em 1fr;
    align-items: center;
    justify-items: center;
    line-height: 2.5em;
    border-bottom: 2px solid #ccc;
}

.textbox-with-icon:focus-within {
    outline: 2px solid black;
    border-color: transparent;
}

.textbox-with-icon i {
    align-self: center;
    justify-self: center;
}

.textbox-with-icon input {
    align-self: stretch;
    justify-self: stretch;
    outline: 0;
}

.action-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.action-images img {
    width: 45%;
    max-height: 300px;
    object-fit: contain;
}


.compact-label-and-input {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    margin: 0.5em 0;
    padding: 0 0.5em;
    line-height: 2.5em;
}

.compact-label-and-input input {
    outline: 0;
    padding: 0 0.5em;
    border-bottom: 2px solid #ccc;
}

.compact-label-and-input input:focus {
    border-color: transparent;
    outline: 2px solid black;
}


.profile-picture-input {
    margin: 0.5rem 0 0.5rem calc(70% - 4rem);
    position: relative;
    width: 8rem;
    aspect-ratio: 1;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 100vw;
    font-size: 2.5rem;
    color: rgba(0,0,0,0.5);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-picture-input:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100vw;
    background: rgba(255, 255, 255, 0.2);
}


@media only screen and (max-width: 600px) {
    .profile-picture-input {
        margin-left: 33%;
        width: 33%;
    }

    .compact-label-and-input {
        grid-template-columns: 100%;
    }
}


.loading-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}


.popup-shade {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
}

.popup-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-form {
    margin: 0 auto;
    padding: 4rem 2rem;
    width: 35rem;
    max-height: 90vh;
    overflow-y: auto;

    background: #fff;
    border-radius: 5px;
    border-left: 3rem solid #4286f5;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.registration-button {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .profile-picture-input {
        margin-left: 33%;
        width: 33%;
    }

    .compact-label-and-input {
        grid-template-columns: 100%;
    }
}


.account-navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #4286f5;
}

.account-navbar button {
    padding: 1rem 2rem;
    background: none;
    color: #fff;
    font-weight: bold;
}

.account-navbar button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.navbar-map-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.map-and-sidebar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    width: 35rem;
    background: white;
    padding: 2rem;
    overflow-y: scroll;
    max-height: calc(100vh - 3.375rem);
}

#map {
    flex: 1 1 auto;
}


.pickingLocation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.instruction {
    display: none;
}

.pickingLocation + .instruction {
    display: block;
    color: white;
    text-shadow: 1px 1px black;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 1rem 2rem;

    position: fixed;
    bottom: 1rem;
    left: 50%;
    height: min-content;
    z-index: 20000;
    transform: translateX(-50%);
}


.account-list {
    margin: 2rem auto;
    max-width: 60rem;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.account-list h2 {
    margin-bottom: 2rem;
}


.account, .station {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
}

.account .profile-image, .station .profile-image {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 100vw;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.account .profile-short-info, .station .profile-short-info {
    margin-left: 1rem;
}

.account .lhs, .station .lhs {
    display: flex;
    align-items: center;
}

.account .rhs, .station .rhs {
    display: flex;
}


.account button, .station button {
    margin: 0 0.5rem;
    background: none;
    padding: 0.5rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.account i, .station i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.account button:hover, .station button:hover {
    background: rgba(0, 0, 0, 0.2);
}


.station-list h2 {
    display: flex;
    align-items: center;
}

#add-station-button {
    margin-left: 2rem;
    background: none;
    padding: 0.5rem;
    border-radius: 5px;
}

#add-station-button:hover {
    background: rgba(0, 0, 0, 0.2);
}


.station-management-form h1 {
    margin-bottom: 1rem;
}

.station-member-control {
    display: flex;
    align-items: center;
}
.station-member-control button {
    margin: 0 0.5rem;
    background: none;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.station-member-control button i {
    font-size: 1.4rem;
}

.station-member-control button:hover {
    background: rgba(0, 0, 0, 0.2);
}


.error {
    color: #a83232;
    font-weight: bold;
    margin-bottom: 1rem;
}

.action-description {
    margin: 2rem 0 2.5rem;
}


.commentButton {
    float: right;
    line-height: 1;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    background: transparent;
    border-radius: 5px;
}

.commentButton:hover {
    background: rgba(0, 0, 0, 0.3);
}

.clearfix {
    overflow: auto;
}
